/* Provide sufficient contrast against white background */

table, tr, th, td {
  border: 1px solid rgb(0, 0, 0);
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 5px;
}

th {
  padding: 9px;
  font-weight: bold;
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}


.add-btn{
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  padding: 9px;
  border-radius: 4px;
  margin-left: 20px;
  width: 30px;
}

.add-btn a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.table-container{
  display: flex;
  justify-content: center;
}

.m-20{
  margin: 20px;
}



